* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #092756;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  /* letter-spacing:1.2px; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url("../images/img.jpg");
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0; /* Remove default margin */
}

input {
  outline: none !important;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.text-part {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-opaque white background */
  padding: 20px;
  border-radius: 10px; /* Optional: Adds rounded corners */
  color: darkslategray;
}

.input-form {
  padding-top: 4vh;
  max-width: 900px !important;
  margin: 0px;
  /* width: 400px; */
  margin: 0 auto;
}

.predict-btn {
  width: 200px;
  margin-left: 38%;
  margin-right: 40%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 10; /* Ensure footer is above other content */
}

.container-form {
  width: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* #download-button {
	width: 200px !important;
	margin-left: 38% !important;
	margin-right: 40% !important;
}

#download-button {
    visibility: "hidden" !important;
} */

/* .predict-btn {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  } */

/* input { 
	width: 100%; 
	margin-bottom: 10px !important;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
} */
