body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 10; /* Ensure footer is above other content */
}

.parent {
  height: 100vh; /* 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 80%; /* Set width of the parent container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #f9f9f9; /* Background color of the box */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
  margin-bottom: 20px; /* Add space below the gauge */
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: linear-gradient(to left, green 0%, yellow 50%, red 100%);
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.6s ease-out;
  transform: rotate(0deg);
  /* transition: transform 1s ease-in-out; */
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

.result-container {
  width: 40%; /* Decrease the width to 40% */
  margin: 20px auto; /* Center horizontally with top margin to avoid navbar */
  background-color: transparent; /* Transparent background */
  padding: 20px;
  text-align: center; /* Center text horizontally */
  position: relative;
  z-index: 1;
}
