* {
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../images/img.jpg");
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 10; /* Ensure footer is above other content */
}

/* body{
    background-color: #4dc3ff !important;
} */

.row a {
  color: black !important;
  width: auto;
}

/* .row button:hover{
	background-color: #1B8798;
    color: white;;
} */

.logo {
  /* display: block;
    margin-left: auto;
    margin-right: auto; */
  width: 10%;
  float: left;
}

.main {
  padding-top: 13vh !important;
  max-width: 800px;
  margin: 0px;
  /* width: 400px; */
  margin: 0 auto;
}

.text-part {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-opaque white background */
  padding: 20px;
  border-radius: 10px; /* Optional: Adds rounded corners */
  color: darkslategray;
}

/* .home-buttons{
    max-width: 800px;
	align-items: center;
	margin: 0px;
	width: 400px;
	padding: 0 10%;
	margin: 0 auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-buttons button{
	padding: 0px 20px;
    width: 125%;
} */

/* div.main{
    height: 10em;
    position: relative }

div.main p,h1 {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) } */
